* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1250px;
  margin: 0 auto;
}

/* header section start here */

header {
  width: 100%;
  height: 640px;
  background-color: #161616;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.header-detail {
  width: 531px;
  height: 424px;
  color: white;
  margin: 111px 20px 111px 100px;
  padding-right: 25px;
}

.header-detail h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.description {
  margin-top: 10px;
}

.header-banner img {
  width: 581px;
  height: 613px;
}

.header-btn {
  font-size: 20px;
  font-weight: 400;
  padding: 16px 25px;
  text-align: center;
  background-color: #dd0000;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
  border: none;
  position: relative;
}

.header-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(9, 192, 131, 0.356);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
}

.header-btn:hover::before {
  transform: scaleX(1);
  z-index: 1;
}

.header-btn:hover {
  cursor: pointer;
}

.header-btn i {
  margin-left: 10px;
}

/* header section end here */

/* main section start here */

/* nav start here */

main {
  margin: 130px 0;
  display: flex;
}

nav {
  width: 280px;
  height: 300px;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-right: 24px;
}

nav button {
  text-align: center;
  width: 230px;
  height: 60px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

nav button a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: #dd0000;
  color: white;
}

.active a {
  color: white;
}

/* nav end here */

/* blogs start here */

.blogs {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.blog {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.blog-banner img {
  width: 300px;
  height: 175px;
}

.blog-info {
  padding: 20px;
}

.blog-info button {
  padding: 5px 20px;
  border-radius: 5px;
}

.blog-info p {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 20px 0;
}

.icons {
  color: rgba(22, 22, 22, 0.7);
}

.fa-comment-dots {
  margin-left: 30px;
}

span {
  margin-left: 10px;
}

/* blogs end here */

/* main section end here */

/* footer start here */

footer {
  height: 250px;
  background-color: #161616;
  color: white;
  text-align: center;
}

.name h2 {
  font-weight: 600;
  font-size: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 1px solid gray;
}

.info ul {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info ul li {
  list-style: none;
  color: #b9b9b9;
  margin: 0 20px;
}

.footer-icon i {
  color: #b9b9b9;
  margin: 0 15px;
  font-size: 1.5em;
}

/* footer end here */

/* Media Query start here */

@media screen and (max-width: 576px) {
  header {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .header-detail {
    width: 100%;
    height: auto;
    margin: 50px 0px 50px 50px;
    text-align: center;
  }

  .header-detail h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .header-banner img {
    width: 100%;
    height: auto;
  }

  /* nav start here */

  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    background-color: transparent;
    margin-right: 0;
  }

  nav button {
    border: 1px solid rgba(128, 128, 128, 0.486);
  }
  /* nav end here */

  /* blog start here */
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-banner img {
    width: 100%;
    height: auto;
  }

  /* blog end here */
  footer {
    height: auto;
    padding: 50px 0;
  }

  .name h2 {
    height: auto;
  }
  .info ul {
    height: auto;
    flex-direction: column;
  }

  .info ul li {
    margin: 20px 0;
  }

  /* footer end here */
}
